.loginContainer{
    padding: 50px 230px;
}

.loginForm {
    background-color: var(--red-beige);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.loginForm h2 {
    margin-bottom: 20px;
    color: var(--black-gray-color);
}
.loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
}
.loginForm button {
    width: 100%;
    padding: 10px;
    background-color: var(--orange-yellow-color);
    border: none;
    border-radius: 3px;
    color: var(--black-gray-color);
    font-weight: bold;
    cursor: pointer;
}



.githubLogin{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.githubLogin a{
    display: contents;
}
.githubLogin button{
    overflow: none;
    padding: 16px 35px;
    background-color: gainsboro;
    border: 5px groove gainsboro;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.166);
    transition: 0.2s ease;
}
.githubLogin button:hover{
    background-color: rgb(145, 184, 219);
}